---
import logo from '~/assets/logo.svg'

import Button from '~/components/Button.astro'
import Layout from '~/layouts/Landing.astro'

const summary = {
  speakers: {
    figure: 7,
    href: '/programme',
  },
  workshops: {
    figure: 3,
    href: '/programme',
  },
  venue: {
    figure: 'De Kom',
    href: '/venue',
  },
  location: {
    figure: 'Nieuwegein',
    href: '/venue',
  },
}
---

<Layout>
  <header
    class="flex flex-col px-4 pb-16 lg:bp-28 sm:mx-auto sm:max-w-md sm:pb-20 md:max-w-2xl md:pb-24 lg:max-w-4xl">
    <img
      class="w-64 m-auto my-10 sm:hidden"
      width={256}
      height={49}
      src={logo.src}
      alt="exec(ut) logo"
    />

    <h1
      class="my-6 font-mono text-5xl font-bold text-red sm:mt-48 sm:text-6xl sm:leading-snug">
      A conference for and by IT students.
    </h1>

    <h2
      class="my-2 text-2xl leading-snug text-red/80 sm:text-3xl sm:leading-normal">
      For those willing to look further than their own classroom. We want to
      work together, inspire each other, and commit ourselves to a better
      tomorrow. Besides a range of interesting talks exec(ut) provides great
      networking opportunities to those attending.
    </h2>

    <div class="flex justify-center gap-2 my-4">
      <Button
        size="medium"
        href="https://photos.app.goo.gl/51YaeYGRQZ7Xj6oW7">
        View photos
      </Button>

      <Button
        size="medium"
        href="https://www.youtube.com/playlist?list=PLvhFp91OuCryiPNd9dY55UR684O8Djw1L">
        View recordings
      </Button>
    </div>

    <div class="my-4 mb-10 overflow-hidden rounded shadow sm:mb-16 aspect-w-16 aspect-h-9">
      <iframe
        src="https://www.youtube.com/embed/kzIJxFxOAjs?controls=0"
        title="YouTube video player"
        allow="accelerometer;autoplay;clipboard-write;encrypted-media;gyroscope;picture-in-picture;web-share"
        allowfullscreen />
    </div>

    <figure class="grid grid-cols-2 grid-rows-2 gap-x-2 gap-y-4 sm:gap-6">
      {
        Object.entries(summary).map(([title, { figure, href }]) => (
          <a class="sm:text-center" href={href}>
            <span class="font-mono text-sm leading-none capitalize text-light-red">
              {title}
            </span>

            <p class="mt-2 text-xl font-bold text-brown">{figure}</p>
          </a>
        ))
      }
    </figure>
  </header>
</Layout>
