---
import Container from '~/components/Container.astro'
import Section from '~/components/Section.astro'

import Layout from '~/layouts/Landing.astro'
---

<Layout title="Venue">
  <Container>
    <Section>
      <div class="flex flex-col md:flex-row">
        <div class="mb-4 shrink basis-1/2">
          <h1 class="font-mono text-3xl font-bold text-red sm:text-4xl">
            Venue
          </h1>

          <p class="mt-4 sm:mt-6">
            This year exec(ut) will be held in Stadion Galgenwaard in Utrecht and is
            easily accessible by public transport from USP and Utrecht Centraal.
          </p>

          <h2 class="mt-8 font-mono text-2xl font-bold sm:mt-12 text-red">
            About Stadion Galgenwaard
          </h2>

          <p class="mt-4 sm:mt-6">
            The Galgenwaard, located in Utrecht, serves as  the stadium for FC Utrecht. 
            While renowned as the home ground for FC Utrecht and its significant football history, 
            the Galgenwaard is more than just a football stadium. It also functions as a versatile 
            venue for various events such as conferences. The stadium, surrounded by green fields, 
            provides a dynamic setting for a wide range of entertainment and community gatherings, 
            making it a vibrant hub beyond the realm of football. This year, the Galgenwaard is set to 
            host the exec(ut) conference, showcasing its adaptability as a space for conferences, talks, 
            workshops, and networking sessions.  Join us for a day filled with enjoyment and seize the 
            opportunity to connect with some of the brightest minds in the field of ICT.
          </p>
        </div>

        <div class="shrink basis-1/2 md:mx-10">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2452.075043106392!2d5.143249476654393!3d52.07836377194868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c66602a52c526f%3A0xee928217d0be4040!2sStadion%20Galgenwaard!5e0!3m2!1sen!2snl!4v1704743870232!5m2!1sen!2snl"
            class="w-full h-64 my-4 border-none"
            allowfullscreen
            loading="lazy"
            title="Direction to Stadion Galgenwaard"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

          <address
            class="leading-tight prose text-right text-mono text-brown/40">
            Herculesplein 241
            <br />
            3584 AA Utrecht
          </address>
        </div>
      </div>
    </Section>
  </Container>
</Layout>
